{% if url.getcmd("ismigrant") != '' %}
{% set URLisMigrant = url.getint("ismigrant") %}
{% else %}

{% if record.id != "" %}
{% set URLisMigrant = person.getvalue("ismigrant") %}
{% endif %}

{% endif %}
<legend>
  {% if URLisMigrant == "0" %}
  {% if record.id == "" %}Добавить сотрудника{% else %}Редактировать сотрудника{% endif %}
  {% else %}
  {% if record.id == "" %}Добавить мигранта{% else %}Редактировать мигранта{% endif %}
  {% endif %}
</legend>


<div class="form-horizontal">
  
{% if record.id != "" %}
	<div class="control-group">
		<div class="control-label">{{ ismigrant.title }}: <b>{{ ismigrant.edit }}</b></div>
	</div>
{% else %}
<input type="hidden" name="comes_ismigrant" value="{{ URLisMigrant }}" />
{% endif %}

{% set companyId = "" %}



{% if record.id == "" %}
{% set companyId = url.getint("company") %}
  {% if companyId != 0 %}
	   {% set companyName = tables.getrecord("companyName",companyId) %}
   
  {% endif %}
{% else %}
{% set companyId = company.value %}
{% set companyName = company %}
{% endif %}
  
<! -- important --><input type="hidden" name="comes_company" value="{{ companyId }}" />

{% if companyName == "" %}
<p>Компания не указана или не найдена.</p>
{% else %}
{% set companyDetails = tables.getrecord("CompanyJSON",companyId) | json_decode %}
{% endif %}

	<div class="control-group">
		<div class="control-label">{{ company.title }}: <b>{{ companyName }}</b>
          
          {% if companyId != "" %} <img src="/images/flags/{{ companyDetails.countryCode|lower  }}.png" style="margin-right:10px;" alt="{{ companyDetails.country }}" title="{{ companyDetails.country }}" />
      
          
          {% endif %}

      
      
      </div>
	</div>

  
	<div class="control-group">
		<div class="control-label">{{ person.title }}</div><div class="controls">
      
      {% if companyDetails.countryCode == 'RU' %}
       {% set peoplefilter = "ismigrant=="~URLisMigrant %}
      
       {% set addPersonLink = "add-person?ismigrant=" ~ URLisMigrant %}
            {{ person.edit("","",["people","fullnamelat","",peoplefilter,"firstnamerussubj"],"PersonName",addPersonLink,"virtualselect") }}
      {% else %}
      
       {% set peoplefilter = "ismigrant=1" %}
       {% set addPersonLink = "add-person?ismigrant=1" %}
       {{ person.edit("","",["people","fullnamelat","",peoplefilter,"fullnamelat"],"PersonName",addPersonLink,"virtualselect") }}
      
      {% endif %}
</div>
	</div>

<div class="control-group">
		<div class="control-label">{{ position.title }}</div><div class="controls">{{ position.edit("","",["positions","namerussubj","published",null,"namerussubj"],null,"dobavit-dolzhnost","virtualselect") }}</div>
  
	</div>
  
{% if URLisMigrant == 0 %}
	
	<div class="control-group">
		<div class="control-label">{{ phone.title }}</div><div class="controls">{{ phone.edit }}</div>
	</div>



	<div class="control-group">
		<div class="control-label">{{ email.title }}</div><div class="controls">{{ email.edit }}</div>
	</div>



{% endif %}
</div>

<div style="text-align:center;">{{ html.button("saveandclose","","","btn btn-primary offset-md-") }}</div>