{% if url.getcmd("ismigrant") != '' %}
{% set URLisMigrant = url.getint("ismigrant") %}
{% else %}

{% if record.id != "" %}
{% set URLisMigrant = person.getvalue("ismigrant") %}
{% endif %}

{% endif %}
<legend>
  {% if URLisMigrant == "0" %}
  {% if record.id == "" %}Добавить сотрудника{% else %}Редактировать сотрудника{% endif %}
  {% else %}
  {% if record.id == "" %}Добавить мигранта{% else %}Редактировать мигранта{% endif %}
  {% endif %}
</legend>
<div class="form-horizontal">
  
{% if record.id != "" %}
	<div class="control-group">
		<div class="control-label">{{ ismigrant.title }}: <b>{{ ismigrant.edit }}</b></div>
	</div>
{% else %}
<input type="hidden" name="comes_ismigrant" value="{{ URLisMigrant }}" />
{% endif %}

{% set companyId = "" %}



{% if record.id == "" %}
{% set companyId = url.getint("company") %}
{% set companyName = tables.getrecord("companyName",companyId) %}
<input type="hidden" name="comes_company" value="{{ companyId }}" />
{% else %}
{% set companyId = company.value %}
{% set companyName = company %}
{% endif %}

{% if companyName == "" %}
<p>Компания не указана или не найдена.</p>
{% endif %}


	<div class="control-group">
		<div class="control-label">{{ company.title }}: <b>{{ companyName }}</b></div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ person.title }}</div><div class="controls">{{ person.edit("","",["people","layout:PeopleFullName","","ismigrant=="~URLisMigrant,"firstnamerussubj"],"PeopleFullName","add-person?ismigrant=" ~ URLisMigrant) }}</div>
	</div>

<div class="control-group">
		<div class="control-label">{{ position.title }}</div><div class="controls">{{ position.edit("","",["positions","namerussubj","published",null,"namerussubj"],null,"dobavit-dolzhnost") }}</div>
	</div>
  
{% if URLisMigrant == 0 %}
	
	<div class="control-group">
		<div class="control-label">{{ phone.title }}</div><div class="controls">{{ phone.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ phone1.title }}</div><div class="controls">{{ phone1.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ email.title }}</div><div class="controls">{{ email.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ email1.title }}</div><div class="controls">{{ email1.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ comment.title }}</div><div class="controls">{{ comment.edit }}</div>
	</div>
{% endif %}
</div>

<div style="text-align:center;">{{ html.button("save","","","btn btn-primary offset-md-") }} {{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>