{% set companyId = "" %}
{% set isMigrant = "" %}

{% set whereList = url.getstringanddecode("where")|split(" and ") %}
{% for where in whereList %}
{% set w = where|split("=") %}
{% if w[0] == "company" %}
{% set companyId = w[1] %}
{% endif %}

{% if w[0] == "ismigrant" %}
{% set isMigrant = w[1] %}
{% endif %}


{% endfor %}

{{ html.goback(nul,"","","/ru/kompanii") }}

{% if isMigrant == 1 %}
<legend>Мигранты</legend><br>
{% else %}
<legend>{{ table.title }}</legend><br>
{% endif %}

<div style="float:right;">{{ html.recordcount }}</div>

{% if companyId != "" %}
<div style="float:left;"><a
        href="/sotrudniki-kompanij?view=edititem&company={{ companyId }}&ismigrant={{ isMigrant }}&returnto={{ url.base64 }}"
        id="ctToolBarAddNew64" class="toolbarIcons"><img
        src="/components/com_customtables/libraries/customtables/media/images/icons/new.png" alt="Добавить сотрудника"
        title="Добавить сотрудника"></a></div>
{% endif %}

<div class="datagrid">
    <div class="searchBox">
        <div style="display:inline-block;">{{ html.search("company","","reload") }}</div>
        <div style="display:inline-block;">{{ html.search("ismigrant","","reload") }}</div>
        <div style="display:inline-block;">{% if document.languagepostfix == "_ru" %}{{ html.searchbutton ("Поиск") }}{%
            else %}{{ html.searchbutton ("Search") }}{% endif %}
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>{{ html.batch("checkbox") }}</th>
            <th>{{ company.title }}</th>
            <th>{{ person.title }}</th>
            <th>{{ position.title }}</th>
            <th>{{ phone.title }}<br/>{{ email.title }}</th>
            <th>Дата Рождения</th>
            <th>{{ ismigrant.title }}</th>
            <th>{{ comment.title }}</th>
            <!--<th style="text-align:center;">{% if document.languagepostfix=="_ru" %}Письма из МВД{% else %}Letters from MVD{% endif %}</th> -->

            <th>{% if document.languagepostfix=="_ru" %}Действие{% else %}Action{% endif %}</th>
        </tr>
        </thead>

        <tbody>
        {% block record %}
        <tr>
            <td>{{ html.toolbar("checkbox") }}</td>
            <td><a href='{{ record.link(true) }}'>{{ company }}</a></td>
            <td><a href='ludi?view=details&listing_id={{ person.value }}'>
              
              {% if ismigrant.value == 0 %}
              <img src="/images/flags/ru.png" style="margin-right:10px;" /><b>{{ person.layout("PersonName") }}</b>
              {% else %}
              {{ person.layout("PersonName") }}
              {% endif %}
              
              
              </a>
          
          </td>
            <td>{{ position.get("namerussubj") }}</td>
            <td>{{ phone }}{% if phone1 != '' %}, {{ phone1 }}{% endif %}<br/>{{ email }}{% if email1 != '' %}, {{ email1 }}{% endif %}</td>
            <td>{{ person.get("dateofbirth",["Y-m-d"])}}</td>
            <td style="text-align:center;">
              
              {% if ismigrant.value == 1 %}<b>{{ ismigrant }}</b>{% endif %}
            </td>
            <td>{{ comment }}</td>
            <!--<td style="text-align:center;">
              <a href="/index.php/dobavit-poluchennoe-iz-mvd-pismo-v-bazu-dannykh?where={ ("employee=" ~ record.id) | base64encode }}" target="_blank">
              <button class="btn btn-primary">{ record.joincount("migmvdlois") }}</button>
              </a>
              </td>-->
            <td>{{ html.toolbar("edit","publish","refresh","delete") }}</td>
        </tr>
        {% endblock %}
        </tbody>

      <tfoot>
        <tr>
            <th></th>
            <th>{{ company.title }}</th>
            <th>{{ person.title }}</th>
            <th>{{ position.title }}</th>
            <th>{{ phone.title }}<br/>{{ email.title }}</th>
            <th>Дата Рождения</th>
            <th>{{ ismigrant.title }}</th>
            <th>{{ comment.title }}</th>
            <!--<th style="text-align:center;">{% if document.languagepostfix=="_ru" %}Письма из МВД{% else %}Letters from MVD{% endif %}</th> -->

            <th>{% if document.languagepostfix=="_ru" %}Действие{% else %}Action{% endif %}</th>
        </tr>
        </tfoot>
    </table>

</div>
<br/>
<div style='text-align:center;'>{{ html.pagination }}</div>