<legend>{{ table.title }}</legend>
<br>
<div style="float:right;">{{ html.recordcount }}</div>
<div style="float:left;">{{ html.add }}</div>

<div class="datagrid">
  
<div class="searchBox">
  <div>{{ html.search("shortnamerus") }}</div>
  <div>{{ html.search("phone") }}</div>
  <div>{{ html.search("email") }}</div>
<div>{{ html.searchbutton() }}</div>
</div>
  
<table>
<thead><tr>
<th>{{ html.batch("checkbox") }}</th>
<th>{{ country.title }}</th>
<th>{{ shortnamerus.title }}</th>
<th>{{ phone.title }}</th>
<th>{{ email.title }}</th>
<th style="text-align:center;">{% if document.languagepostfix=="_ru" %}Сотрудники компании{% else %}Company employees{% endif %}</th>
<th style="text-align:center;">{% if document.languagepostfix=="_ru" %}Мигранты{% else %}Migrants{% endif %}</th>
<th>{% if document.languagepostfix=="_ru" %}Действие{% else %}Action{% endif %}</th>
</tr></thead>

<tbody>
{% block record %}
  
{% if country.value != '' %}
{% set issueAuth = tables.getrecord("countryDetailsJson",country.value) | json_decode %}
{% endif %}
  
<tr>
<td>{{ html.toolbar("checkbox") }}</td>
<td>{% if country.value != '' %}
  <img src="/images/flags/{{ issueAuth.code|lower  }}.png" style="margin-right:10px;" alt="{{ issueAuth.namerussubj }}" title="{{ issueAuth.namerussubj }}" /><br/>
  {% endif %}</td>
  
<td><a href='{{ record.link(true) }}'>{{ fullnamerus }}</a>
  <div style="color:red;">{{ record.missingfields(", ") }}</div>
</td>
<td>{{ phone }}</td>
<td>{{ email }}</td>

<td style="text-align:center;">
  {% set companyEmployees = record.joincount("companyemployees","ismigrant=0") %}
  {% if companyEmployees > 0 %}
  <a href="/sotrudniki-kompanij?where={{ ("company=" ~ record.id ~ " and ismigrant=0") | base64encode }}">
  <button class="btn btn-primary">{{ companyEmployees }}</button>
  </a> 
  {% else %}
  <a href="/sotrudniki-kompanij?view=edititem&company={{ record.id }}&ismigrant=0">
  <button class="btn btn-primary" style="background-color:lightgray;">+</button>
  </a>
  {% endif %}
</td>
  
<td style="text-align:center;">
  {% set migrantEmployees = record.joincount("companyemployees","ismigrant=1") %}
  {% if migrantEmployees > 0 %}
  <a href="/sotrudniki-kompanij?where={{ ("company=" ~ record.id ~ " and ismigrant=1") | base64encode }}">
  <button class="btn btn-primary">{{ migrantEmployees }}</button>
  </a>
  {% else %}
  <a href="/sotrudniki-kompanij?view=edititem&company={{ record.id }}&ismigrant=1">
  <button class="btn btn-primary" style="background-color:lightgray;">+</button>
  </a>
  {% endif %}
</td>

  
<td>{{ html.toolbar("edit","delete","filebox") }}</td>

</tr>
{% endblock %}
</tbody>
</table>

</div>
<br/><div style='text-align:center;'>{{ html.pagination }}</div>