<legend>{{ table.title }}</legend>

{tab:Детали}

	<div class="control-group">
		<div class="control-label">{{ contractor1.label }}</div><div class="controls">{{ contractor1.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ contractor2.label }}</div><div class="controls">{{ contractor2.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ contractor3.label }}</div><div class="controls">{{ contractor3.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ number.label }}</div><div class="controls">{{ number.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ date.label }}</div><div class="controls">{{ date.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ name.label }}</div><div class="controls">{{ name.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ essence.label }}</div><div class="controls">{{ essence.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ file.label }}</div><div class="controls">{{ file.edit }}</div>
	</div>
{tab:Комментарий}
{{ comment.edit("","","100%") }}
{/tabs}

<div style="text-align:center;">{{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>