<legend>{{ table.title }}</legend>

<div class="form-horizontal">

	<div class="control-group">
		<div class="control-label">{{ number.title }}</div><div class="controls">{{ number.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ date.title }}</div><div class="controls">{{ date.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ company.title }}</div><div class="controls">{{ company.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ forwhom.title }}</div><div class="controls">{{ forwhom.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ address.title }}</div><div class="controls">{{ address.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ essence.title }}</div><div class="controls">{{ essence.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ comment.title }}</div><div class="controls">{{ comment.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ file.title }}</div><div class="controls">{{ file.edit }}</div>
	</div>

</div>

<div style="text-align:center;">{{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>