<legend>{{ table.title }}</legend>

<div style="float:right;">{{ html.recordcount }}</div>
<div style="float:left;">{{ html.add }}</div>

<div class="datagrid">
  
<div class="searchBox">
  <div>{{ html.search("number") }}</div>
  <div>{{ html.search("company") }}</div>
  <div>{{ html.search("forwhom") }}</div>
<div>{{ html.searchbutton() }}</div>
</div>
  
<table>
<thead><tr><th>{{ html.batch("checkbox") }}</th>
<th>{{ number.title }}</th>
<th>{{ date.title }}</th>
<th>{{ company.title }}</th>
<th>{{ forwhom.title }}</th>
<th>{{ address.title }}</th>
<th>{{ essence.title }}</th>
<th>{{ comment.title }}</th>
<th>{{ file.title }}</th>
<th>{% if document.languagepostfix=="_ru" %}Действие{% else %}Action{% endif %}</th>
</tr></thead>

<tbody>
{% block record %}
<tr>
<td>{{ html.toolbar("checkbox") }}</td>
<td><a href='{{ record.link(true) }}'>{% if document.languagepostfix=="_ru" %}Письмо #{% else %}Letter #{% endif %} {{ number }}</a></td>
<td>{{ date("Y-m-d") }}</td>
<td>{{ company }}</td>
<td>{{ forwhom }}</td>
<td>{{ address }}</td>
<td>{{ essence }}</td>
<td>{{ comment }}</td>
<td>{{ file("","icon-filename-link",16) }}</td>
<td>{{ html.toolbar("edit","delete") }}</td>
</tr>
{% endblock %}
</tbody>
</table>

</div>
<br/><div style='text-align:center;'>{{ html.pagination }}</div>