{% if table.records > 0 %}
<table>
<thead><tr>
<th style="max-width:auto;">{{ name.title }}</th>
<th>{{ type.title }}</th>
<th>{{ date.title }}</th>
<th>{% if document.languagepostfix=="_ru" %}Файл / Ссылка{% else %}File / Link{% endif %}</th>
</tr></thead>

<tbody>
{% block record %}
<tr>
<td style="max-width:auto;">{{ name }}</td>
<td>{{ type }}</td>
<td>{{ date }}</td>
<td>
  
  {% if file.value != "" %}<p>{{ file("","icon-filename-link",32,"_blank") }}</p>{% endif %}
  {% if link.value != "" %}<p><a href="{{ link }}" target="_blank">{{ link }}</a></p>{% endif %}
</td>

</tr>
{% endblock %}
</tbody>
</table>
  
{% endif %}