<legend>{{ table.title }}</legend>

{tab:Детали}

<div class="control-group">
		<div class="control-label">{{ namelat.title }}</div><div class="controls">{{ namelat.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ namerussubj.title }}</div><div class="controls">{{ namerussubj.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ namerusgen.title }}</div><div class="controls">{{ namerusgen.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ namerusdat.title }}</div><div class="controls">{{ namerusdat.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ namerusabl.title }}</div><div class="controls">{{ namerusabl.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ namerusaccus.title }}</div><div class="controls">{{ namerusaccus.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ namerusprep.title }}</div><div class="controls">{{ namerusprep.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ namenative.title }}</div><div class="controls">{{ namenative.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ nativelang.title }}</div><div class="controls">{{ nativelang.edit }}</div>
	</div>

{tab:{{ comment.title }}}
{{ comment.edit("","","100%") }}
{/tabs}

<div style="text-align:center;">{{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>