<legend>{{ table.title }}</legend>

{{ html.goback }}

<div class="form-horizontal">	<div class="control-group">
		<div class="control-label">{{ file.title }}</div><div class="controls">{{ file.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ version.title }}</div><div class="controls">{{ version.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ numberofpassports.title }}</div><div class="controls">{{ numberofpassports.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ workcompanies.title }}</div><div class="controls">{{ workcompanies.edit }}</div>
	</div>

<div class="control-group">
		<div class="control-label">{{ numberofcompanies.title }}</div><div class="controls">{{ numberofcompanies.edit }}</div>
	</div>
<!--  
	<div class="control-group">
		<div class="control-label">{{ numberofvisas.title }}</div><div class="controls">{{ numberofvisas.edit }}</div>
	</div>
-->

	<div class="control-group">
		<div class="control-label">{{ numberofproject.title }}</div><div class="controls">{{ numberofproject.edit }}</div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ lasterrormessage.title }}</div><div class="controls">{{ lasterrormessage.edit }}</div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ folder.title }}</div><div class="controls">{{ folder.edit }}</div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ project.title }}</div><div class="controls">{{ project.edit }}</div>
	</div>
  
<hr/>
<div class="control-group">
		<div class="control-label">{{ comment.title }}</div><div class="controls">{{ comment.edit }}</div>
	</div>
</div>

<div style="text-align:center;">{{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>