<legend>{{ table.title }}</legend>

<div class="form-horizontal">

<div class="control-group detailsLine">
		<div class="detailsLabel">{{ fullnamerus.title }}</div><div class="detailsValue">{{ fullnamerus }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ fullnamelat.title }}</div><div class="detailsValue">{{ fullnamelat }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ fullnamenative.title }}</div><div class="detailsValue">{{ fullnamenative }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ shortnamerus.title }}</div><div class="detailsValue">{{ shortnamerus }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ shortnamelat.title }}</div><div class="detailsValue">{{ shortnamelat }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ shortnamenative.title }}</div><div class="detailsValue">{{ shortnamenative }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ regnumber.title }}</div><div class="detailsValue">{{ regnumber }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ taxnumber.title }}</div><div class="detailsValue">{{ taxnumber }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ taxreasoncode.title }}</div><div class="detailsValue">{{ taxreasoncode }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ estdate.title }}</div><div class="detailsValue">{{ estdate }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ activitycodes.title }}</div><div class="detailsValue">{{ activitycodes }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ statisticscodes.title }}</div><div class="detailsValue">{{ statisticscodes }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ address.title }}</div><div class="detailsValue">{{ address }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ addressrus.title }}</div><div class="detailsValue">{{ addressrus }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ addresslat.title }}</div><div class="detailsValue">{{ addresslat }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ address1rus.title }}</div><div class="detailsValue">{{ address1rus }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ address1lat.title }}</div><div class="detailsValue">{{ address1lat }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ phone.title }}</div><div class="detailsValue">{{ phone }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ email.title }}</div><div class="detailsValue">{{ email }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc1accnumb.title }}</div><div class="detailsValue">{{ bacc1accnumb }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc1currency.title }}</div><div class="detailsValue">{{ bacc1currency }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc1bank.title }}</div><div class="detailsValue">{{ bacc1bank }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc1corracc.title }}</div><div class="detailsValue">{{ bacc1corracc }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc1swift.title }}</div><div class="detailsValue">{{ bacc1swift }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc1corrbank.title }}</div><div class="detailsValue">{{ bacc1corrbank }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc1misc.title }}</div><div class="detailsValue">{{ bacc1misc }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc2accnumb.title }}</div><div class="detailsValue">{{ bacc2accnumb }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc2bank.title }}</div><div class="detailsValue">{{ bacc2bank }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc2corracc.title }}</div><div class="detailsValue">{{ bacc2corracc }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc2corrbank.title }}</div><div class="detailsValue">{{ bacc2corrbank }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc2currency.title }}</div><div class="detailsValue">{{ bacc2currency }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc2misc.title }}</div><div class="detailsValue">{{ bacc2misc }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ bacc2swift.title }}</div><div class="detailsValue">{{ bacc2swift }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ ceo.title }}</div><div class="detailsValue">{{ ceo }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ email1.title }}</div><div class="detailsValue">{{ email1 }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ phone1.title }}</div><div class="detailsValue">{{ phone1 }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ website.title }}</div><div class="detailsValue">{{ website }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ comment.title }}</div><div class="detailsValue">{{ comment }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ mvdregnum.title }}</div><div class="detailsValue">{{ mvdregnum }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ addressoutsideofrussia.title }}</div><div class="detailsValue">{{ addressoutsideofrussia }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ addressoutsideofrussia1.title }}</div><div class="detailsValue">{{ addressoutsideofrussia1 }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ externalfiles.title }}</div><div class="detailsValue">{{ externalfiles }}</div>
	</div>

</div>
