{
"visitpurpose": "{{ visitpurpose }}",
"visatermdays": "{{ visatermdays }}",
"rusentrydate": "{{ rusentrydate('d.m.Y') }}",
"visaenddate": "{{ visaenddate('d.m.Y') }}",
"visamultiplicity": "{{ visamultiplicity.value }}",
"visaTypeCategory": "{{ visatype.getvalue('category') }}",
"rusvisitplaces": "{{ rusvisitplaces }}",

"rescountry": "{{ rescountry('namerussubj') }}",
"resplace": "{{ resplace }}",
"resplacerus": "{{ resplacerus }}",

"visaisscountry": "{{ visaisscountry }}",
"visaisscity": "{{ visaisscity }}",

"empworkplace": "{{ empworkplace }}",
"position": "{{ position }}",
"empworkaddress": "{{ empworkaddress }}",

{% set stayaddressinrusTEMP = stayaddressinrus.layout("FormalNameShortName") %}
{% if stayaddressinrusTEMP=="" %}
"stayaddressRegion": "-",
"stayaddressCity": "-",
"stayaddressStreet": "-",
{% else %}
"stayaddressStreet": "{{ stayaddressinrusTEMP }}",
{% set l3Parent = stayaddressinrus.getvalue("parent") %}
{% if l3Parent !="" %}
 {% set l2Parent = tables.getvalue("addrob","parent","_id=" ~ l3Parent) %}
 {% set l2Label=tables.getrecord("FormalNameShortName","_id=" ~ l3Parent) %}
 "stayaddressCity": "{{ l2Label }}",
 {% if l2Parent !="" %}
  {% set l1Label=tables.getrecord("FormalNameShortName","_id=" ~ l2Parent) %}
  "stayaddressRegion": "{{ l1Label }}",
 {% endif %}
{% endif %}

{% endif %}

"stayaddressinrushouse": "{{ stayaddressinrushouse }}",
"stayaddressinrussframe": "{{ stayaddressinrussframe }}",
"stayaddressinrusstructure": "{{ stayaddressinrusstructure }}",
"stayaddressinrussapartment": "{{ stayaddressinrussapartment }}",
"stayaddressinrussphone": "{{ stayaddressinrussphone }}"

}