<legend>Заявления в МВД на приглашение на въезд</legend>

<div style="float:right;">{{ html.recordcount }}</div>
<div style="float:left;">{{ html.add }}</div>

<div class="searchBox">
  <div>{{ html.search("regnum","","reload") }}</div>
<div>{{ html.searchbutton() }}</div>
</div>  

<div class="datagrid">



<table>
<thead><tr>
<th class="short">{{ html.batch("checkbox") }}</th>
<th>{{ regnum.title }}</th>
<th>{{ submdate.title }}</th>
<th>{{ project.title }}</th>
<th>{{ projectbatch.title }}</th>
<th style="text-align:center;">{% if document.languagepostfix=="_ru" %}Документ{% else %}Document{% endif %}</th>
<th style="text-align:center;">{% if document.languagepostfix=="_ru" %}Действие{% else %}Action{% endif %}</th>
</tr></thead>


<tbody>
{% block record %}
<tr>
<td style="text-align:center;">{{ html.toolbar("checkbox") }}</td>
<td><a href='{{ record.link(true) }}'>{% if document.languagepostfix=="_ru" %}Заявление # {% else %}Application #{% endif %} {{ regnum }}</a></td>
<td>{{ submdate }}</td>
<td>{{ tables.getrecord("projectName",project.value) }}</td>
<td>{{ projectbatch }}</td>
<td style="text-align:center;">
{{ url.set("appid",record.id) }}
{{ employees.layout("EmployeeListWithMidMvdAppSimple",null,"") }}  
</td>
<td>{{ html.toolbar("edit","publish","refresh","delete") }}</td>
</tr>
{% endblock %}
  
</tbody>
  
<tfoot><tr>
<th class="short">{{ html.batch('delete') }}</th>
<th>{{ regnum.title }}</th>
<th>{{ submdate.title }}</th>
<th>{{ project.title }}</th>
<th>{{ projectbatch.title }}</th>
<th style="text-align:center;">{% if document.languagepostfix=="_ru" %}Документ{% else %}Document{% endif %}</th>
<th style="text-align:center;">{% if document.languagepostfix=="_ru" %}Действие{% else %}Action{% endif %}</th>
</tr></tfoot>
</table>

</div>
<br/><div style='text-align:center;'>{{ html.pagination }}</div>