<legend>{{ table.title }}</legend>

{tab:Детали}

  <div class="control-group">
    <div class="control-label">{{ regnum.label }}</div>
    <div class="controls">{{ regnum.edit }}</div>
  </div>
  
  <div class="control-group">
    <div class="control-label">{{ date.label }}</div>
    <div class="controls">{{ date.edit }}</div>
  </div>

  <div class="control-group">
    <div class="control-label">{{ status.label }}</div>
    <div class="controls">{{ status.edit }}</div>
  </div>
  
  <hr/>

  <div class="control-group">
    <div class="control-label">{{ visamultiplicity.label }}</div>
    <div class="controls">{{ visamultiplicity.edit }}</div>
  </div>
  
  <div class="control-group">
    <div class="control-label">{{ visatype.label }}</div>
    <div class="controls">{{ visatype.edit("","",["migvisatypes","typesingle"]) }}</div>
  </div>
  
  <div class="control-group">
    <div class="control-label">{{ rusentrypurpose.label }}</div>
    <div class="controls">{{ rusentrypurpose.edit("","",[],"MigVisitPurpose") }}</div>
  </div>
  
  <div class="control-group">
    <div class="control-label">{{ rusvisitplaces.label }}</div>
    <div class="controls">{{ rusvisitplaces.edit("","",[["addrob","layout:FormalNameShortName","","","formalname","parent"]]) }}</div>
  </div>
  
  <hr/>
  
  {% if projectbatch.value == "" %}
    <div class="control-group">
      <div class="control-label">{{ projectbatch.label }}</div>
      <div class="controls">{{
        projectbatch.edit("","",[["migprojects","name"],["migprojectsites","name"],["migprojectbatches","layout:ProjectBatchNumberAndEmployees"]])
        }}
      </div>
    </div>
  {% else %}
  
  <div class="control-label">Компания: <b>{{ tables.getrecord("ProjectCompanyNameLink",project.value) }}</b></div>
  <div class="control-label">{{ project.label }}: <b>{{ tables.getrecord("projectName",project.value) }}</b></div>
  <div class="control-label">{{ projsite.label }}: <b>{{ tables.getrecord("projectsiteName",projsite.value) }}</b></div>
  <div class="control-label">{{ projectbatch.label }}: <b>{{ projectbatch }}</b></div>
  
    {% if employee.value == "" %}
      <div class="control-group">
        <div class="control-label">{{ employee.label }}</div>
        <div class="controls">{{
            employee.edit("","",[["companyemployees","person","published","_id="~projectbatch.layout("ProjectBatchEmployeesIDs")]])
        }}</div>
      </div>
    {% else %}
      <div class="control-group">
        <div class="control-label">{{ employee.label }}: <b>{{ employee }}</b></div>
      </div>

      {% if passport.value == "" %}
        <div class="control-group">
          <div class="control-label">{{ passport.label }}</div>
          <div class="controls">{{
            passport.edit("","",[["passports","layout:passportSelectLayout","published","person="~employee.getvalue("person")]])
          }}</div>
        </div>
      {% else %}
        <div class="control-group">
          <div class="control-label">{{ passport.label }}: <b>{{ passport }}</b></div>
        </div>

        {% if rescountry.value == "" %}
          <div class="control-group">
            <div class="control-label">{{ rescountry.label }}</div>
            <div class="controls">{{ rescountry.edit }}</div>
          </div>

          <div class="control-group">
            <div class="control-label">{{ resplace.label }}</div>
            <div class="controls">{{ resplace.edit }}</div>
          </div>
        {% else %}
          <div class="control-group">
            <div class="control-label">{{ rescountry.title }}: <b>{{ rescountry }}</b></div>
          </div>

          <div class="control-group">
            <div class="control-label">{{ resplace.title }}</div><div class="controls">{{ resplace.edit }}</div>
          </div>

  			        
  
          <div class="control-group">
            <div class="control-label">{{ submdate.title }}</div><div class="controls">{{ submdate.edit }}</div>
          </div>
          <div class="control-group">
            <div class="control-label">{{ comment.title }}</div>
            <div class="controls">{{ comment.edit }}</div>
          </div>

          <div class="control-group">
            <div class="control-label">{{ letterdocslink.title }}</div><div class="controls">{{ letterdocslink.edit }}</div>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

{tab:{{ comment.title }}}
{{ comment.edit("","","100%") }}
{/tabs}

<div style="text-align:center;">
  {% if projectbatch.value == "" or employee.value == "" or passport.value == "" or rescountry.value == "" %}
  Нажмите Далее, что бы сохранить форму и продолжить заполнять остальные поля.<br/>
  {{ html.button("save","Далее","/pisma-priglasheniya-v-konsulstvo-rf","btn btn-primary offset-md-") }}
  {% else %}
  {{ html.button("saveandclose","","/pisma-priglasheniya-v-konsulstvo-rf","btn btn-primary offset-md-") }}
  {% endif %}
  {{ html.button("cancel","","/pisma-priglasheniya-v-konsulstvo-rf","btn btn-primary offset-md-") }}
</div>