<legend>{{ table.title }} - Select Employee</legend>
{% set employees = projectbatch.getvalue("employees") %}

<div class="form-horizontal">

	<div class="control-group">
		<div class="control-label">{{ employee.title }}</div><div class="controls">{{ employee.edit("","",['companyemployees','person','false','_id=' ~ employees]) }}</div>
	</div>

</div>

<div style="text-align:center;">{{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>