{{ html.goback }}
<h2>{% if document.languagepostfix=="_ru" %}Опись в МВД по работникам партии{% else %}Letter to MVD{% endif %}</h2>

{tab:Детали}



	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ ordnum.title }}</div>:<div class="detailsValue">{{ ordnum }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ regnum.title }}</div>:<div class="detailsValue">{{ regnum }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ submitdate.title }}</div>:<div class="detailsValue">{{ submitdate }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ status.title }}</div>:<div class="detailsValue">{{ status }}</div>
	</div>

<hr/>

<div class="control-group detailsLine">
		<div class="detailsLabel">Компания</div>:<div class="detailsValue">{{ tables.getrecord("ProjectCompanyNameLink",project.value) }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ project.title }}</div>:<div class="detailsValue">{{ tables.getrecord("projectName",project.value) }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ projsite.title }}</div>:<div class="detailsValue">{{ tables.getrecord("projectsiteName",projsite.value) }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ projectbatch.title }}</div>:<div class="detailsValue">{{ projectbatch }}</div>
	</div>
<hr/>
	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ visamultiplicity.title }}</div>:<div class="detailsValue">{{ visamultiplicity }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ comment.title }}</div>:<div class="detailsValue">{{ comment }}</div>
	</div>
{tab:{% if document.languagepostfix=="_ru" %}Работники{% else %}Employees{% endif %}}
{{ url.set("visamultiplicity",visamultiplicity.value) }}
<table>
<thead><tr>
<th>№ п/п</th>
<th>Гражданство</th>
<th>Ф.И.О.</th>
<th>Кратность</th>
</tr></thead>
<tbody>
{{ projectbatch.layout("MigMvdEmpListsEmployees","published","") }}
</tbody>
</table>


{tab:{% if document.languagepostfix=="_ru" %}Приглашающая компания{% else %}Inviting Company{% endif %}}

{{ tables.getrecord("ProjectCompany",project.value) }}

{tab:Файлы}
  Таблица Партии Работнико не содержит ссулку на папку с фалами.
{tab:Регистр}
  
	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ dbentrydate.title }}</div>:<div class="detailsValue">{{ dbentrydate }}</div>
	</div>

<div class="control-group detailsLine">
		<div class="detailsLabel">{{ createdby.title }}</div>:<div class="detailsValue">{{ createdby }}</div>
	</div>

  
	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ changedate.title }}</div>:<div class="detailsValue">{{ changedate }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ changedby.title }}</div>:<div class="detailsValue">{{ changedby }}</div>
	</div>

{/tabs}