<legend>{{ table.title }}</legend>

<div class="form-horizontal">
	
<div class="control-group">
		<div class="control-label">{{ date.title }}</div><div class="controls">{{ date.edit }}</div>
	</div>  

<div class="control-group">
		<div class="control-label">{{ status.title }}</div><div class="controls">{{ status.edit }}</div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ ornum.title }}</div><div class="controls">{{ ornum.edit }}</div>
	</div>

<hr/>
{% if projectbatch.value == "" %}
    <div class="control-group">
      <div class="control-label">{{ projectbatch.title }}</div>
      <div class="controls">{{
        projectbatch.edit("","",[["migprojects","name"],["migprojectsites","name"],["migprojectbatches","layout:ProjectBatchNumberAndEmployees"]])
        }}
      </div>
    </div>
  {% else %}
    <div class="control-label">{{ projectbatch.title }}: <b>{{ projectbatch }}</b></div>
    {% if employee.value == "" %}
      <div class="control-group">
        <div class="control-label">{{ employee.title }}</div>
        <div class="controls">{{
            employee.edit("","",[["companyemployees","person","published","_id="~projectbatch.layout("ProjectBatchEmployeesIDs")]])
        }}</div>
      </div>
    {% else %}
      <div class="control-group">
        <div class="control-label">{{ employee.title }}: <b>{{ employee }}</b></div>
      </div>

      {% if passport.value == "" %}
        <div class="control-group">
          <div class="control-label">{{ passport.title }}</div>
          <div class="controls">{{
            passport.edit("","",[["passports","layout:passportSelectLayout","published","person="~employee.getvalue("person")]])
          }}</div>
        </div>
      {% else %}
        <div class="control-group">
          <div class="control-label">{{ passport.title }}: <b>{{ passport }}</b></div>
        </div>

        {% if rescountry.value == "" %}
          <div class="control-group">
            <div class="control-label">{{ rescountry.title }}</div>
            <div class="controls">{{ rescountry.edit }}</div>
          </div>

          <div class="control-group">
            <div class="control-label">{{ resplace.title }}</div>
            <div class="controls">{{ resplace.edit }}</div>
          </div>
        {% else %}
          <div class="control-group">
            <div class="control-label">{{ rescountry.title }}: <b>{{ rescountry }}</b></div>
          </div>

          <div class="control-group">
            <div class="control-label">{{ resplace.title }}</div><div class="controls">{{ resplace.edit }}</div>
          </div>

  			        <div class="control-group">
           <div class="control-label">{{ visa.title }}</div>
           <div class="controls">{{
            visa.edit("","",[["peoplesrussianvisas ","layout:selectVisa","published","passport="~passport.value]])
          }}</div>
         </div>
  
          <div class="control-group">
            <div class="control-label">{{ submdate.title }}</div><div class="controls">{{ submdate.edit }}</div>
          </div>
          <div class="control-group">
            <div class="control-label">{{ comment.title }}</div>
            <div class="controls">{{ comment.edit }}</div>
          </div>

          <div class="control-group">
            <div class="control-label">{{ letterdocslink.title }}</div><div class="controls">{{ letterdocslink.edit }}</div>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
</div>

{% if projectbatch.value == "" or employee.value == "" or passport.value == "" or rescountry.value == "" %}
<div style="text-align:center;">{{ html.button("save","Далее","","btn btn-primary offset-md-") }} {{
  html.button("cancel","","","btn btn-primary offset-md-") }}
</div>
{% else %}
<div style="text-align:center;">{{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{
  html.button("cancel","","","btn btn-primary offset-md-") }}
</div>
{% endif %}
