<legend>Заявления в МВД на приглашение на въезд</legend>

{tab:Детали}

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ regnum.title }}</div>:<div class="detailsValue">{{ regnum }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ applicationdate.title }}</div>:<div class="detailsValue">{{ applicationdate }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ submdate.title }}</div>:<div class="detailsValue">{{ submdate }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ project.title }}</div>:<div class="detailsValue">{{ tables.getrecord("projectName","id="~project.value) }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ projectsite.title }}</div>:<div class="detailsValue">{{ tables.getrecord("projectsiteName","id="~projectsite.value) }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ projectbatch.title }}</div>:<div class="detailsValue">{{ projectbatch }}</div>
	</div>
  
	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ rusentrydate.title }}</div>:<div class="detailsValue">{{ rusentrydate }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ visaenddate.title }}</div>:<div class="detailsValue">{{ visaenddate }}</div>
	</div>

{tab:{{ employees.title }}}


{{ url.set("appid",record.id) }}
<table>
<tbody>
{{ employees.layout("EmployeeListWithMidMvdApp",null,"") }}
</tbody>
</table>

{tab:{{ comment.title }}}
	<div class="control-group detailsLine">
		<div class="detailsLabel"></div>:<div class="detailsValue">{{ comment }}</div>
	</div>

{tab:Регистр}

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ dbentrydate.title }}</div>:<div class="detailsValue">{{ dbentrydate }}</div>
	</div>

<hr/>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ changedate.title }}</div>:<div class="detailsValue">{{ changedate }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ changedby.title }}</div>:<div class="detailsValue">{{ changedby }}</div>
	</div>
{/tabs}