{
"visitpurpose": "{{ visitpurpose }}",
"visatermdays": "{{ visatermdays }}",
"rusentrydate": "{{ rusentrydate('d.m.Y') }}",
"visaenddate": "{{ visaenddate('d.m.Y') }}",
"visamultiplicity": "{{ visamultiplicity.value }}",
"visaTypeCategory": "{{ visatype.getvalue('category') }}",
"rusvisitplaces": "{{ rusvisitplaces }}",

"rescountry": "{{ rescountry('namerussubj') }}",
"resplace": "{{ resplace }}",
"resplacerus": "{{ resplacerus }}",

"visaisscountry": "{{ visaisscountry }}",
"visaisscity": "{{ visaisscity }}",

"empworkplace": "{{ empworkplace }}",
"position": "{{ position }}",
"empworkaddress": "{{ empworkaddress }}",

"stayaddressinrus": "{{ stayaddressinrus }}",
"stayaddressinrushouse": "{{ stayaddressinrushouse }}",
"stayaddressinrussframe": "{{ stayaddressinrussframe }}",
"stayaddressinrusstructure": "{{ stayaddressinrusstructure }}",
"stayaddressinrussapartment": "{{ stayaddressinrussapartment }}",
"stayaddressinrussphone": "{{ stayaddressinrussphone }}"

}