{% set projectId = "" %}
{% set whereList = url.getstringanddecode("where")|split(" and ") %}
{% for where in whereList %}
{% set w = where|split("=") %}
{% if w[0] == "project" %}
{% set projectId = w[1] %}
{% endif %}
{% endfor %}

<div style="float:right;">{{ html.recordcount }}</div>
{% if projectId != "" %}
{% set projectName = tables.getrecord("ProjectName",projectId) %}
<legend>{{ table.title }}<br/>{{ projectName }}</legend>
<div style="float:left;"><a href="/8-partii-rabotnikov?view=edititem&returnto={{ url.base64 }}&project={{ projectId }}" id="ctToolBarAddNew64" class="toolbarIcons"><img src="/components/com_customtables/libraries/customtables/media/images/icons/new.png" alt="Добавить" title="Добавить"></a></div>
{% else %}
<legend>{{ table.title }}</legend>
{% endif %}

<div class="datagrid">
  
<table>
<thead><tr><th>{{ html.batch("checkbox") }}</th>
<th>Компания<br>Проект</th>
<th>{{ projsite.title }}</th>
<th>{{ batchnum.title }}</th>
<th>{{ date.title }}</th>
<th>{{ employees.title }}</th>
<th>{% if document.languagepostfix=="_ru" %}Действие{% else %}Action{% endif %}</th>
</tr></thead>

<tbody>
{% block record %}
<tr>
<td>{{ html.toolbar("checkbox") }}</td>
<td><b>{{ tables.getrecord("CompanyNameByProject","_id="~project) }}</b><br><a href='{{ record.link(true) }}'>{{ tables.getvalue("migprojects","name","_id="~project) }}</a></td>
<td>{{ projsite }}</td>
<td>{{ batchnum }}</td>
<td>{{ date("Y-m-d") }}</td>
  <td><ol>{{ employees.layout("EmployeeList") }}</ol></td>
<td>{{ html.toolbar("edit","delete") }}</td>
</tr>
{% endblock %}
</tbody>
</table>

</div>
<br/><div style='text-align:center;'>{{ html.pagination }}</div>