<legend>{% if record.id == "" %}Добавить Партию работников{% else %}Партию работников{% endif %}</legend>

{% set projectId = "" %}
{% if record.id == "" %}
{% set projectId = url.getint("project") %}
{% set projectName = tables.getrecord("ProjectName",projectId) %}
{% else %}
{% set projectId = project.value %}
{% set projectName = project %}
{% endif %}

{% if projectName == "" %}
    {{ html.message("Проект не указан или не найден.","Error") }}Проект не указан или не найден.
{% else %}
<input type="hidden" name="comes_project" value="{{ projectId }}"/>
<h4>{{ projectName }}</h4>

<div class="form-horizontal">
    <div class="control-group">
        <div class="control-label">Проект и {{ projsite.title }}</div>
        <div class="controls">{{ projsite.edit("","",["migprojectsites","name","published","project=" ~ projectId]) }}</div>
    </div>

    <div class="control-group">
        <div class="control-label">{{ batchnum.title }}</div>
        <div class="controls">{{ batchnum.edit }}</div>
    </div>

    <div class="control-group">
        <div class="control-label">{{ employees.title }}</div>
        <div class="controls">{{ employees.edit }}</div>
    </div>

</div>

<div style="text-align:center;">{{ html.button("save","","","btn btn-primary offset-md-") }} {{
    html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary
    offset-md-") }}
</div>
{% endif %}