<legend>{% if record.id == "" %}Добавить Партию работников{% else %}Редактировать партию работников{% endif %}</legend>

{% set projectId = "" %}
{% if record.id == "" %}
{% set projectId = url.getint("project") %}


{% if projectId == 0 %}
{% set projectName = "" %}
{% else %}
{% set projectName = tables.getrecord("ProjectName",projectId) %}
{% endif %}


{% else %}
{% set projectId = project.value %}
{% set projectName = tables.getrecord("ProjectName",project.value) %}
{% endif %}

{% if projectName == "" %}
    {{ html.message("Проект не указан или не найден.","Error") }}Проект не указан или не найден.
{% else %}

{% endif %}


{{companyID}}

<h4>{{ tables.getrecord("CompanyNameByProject","_id="~projectId) }}</h4>
<h4>{{ projectName }}</h4>

<div class="form-horizontal">
    <div class="control-group">
        <div class="control-label">Проект и {{ projsite.title }}</div>
        <div class="controls">{{ projsite.edit("","",["migprojectsites","name","published","project=" ~ projectId]) }}</div>
    </div>

    <div class="control-group">
        <div class="control-label">{{ batchnum.title }}</div>
        <div class="controls">{{ batchnum.edit }}</div>
    </div>

    <div class="control-group">
        <div class="control-label">{{ employees.title }}</div>
        {% set companyID = tables.getrecord("ProjectCompanyID","_id="~projectId) %}
      
      
        <div class="controls">
          <input type="hidden" id="comes_temporaryEmployeeHolder" onchange="addEmployeeToEmployeeTable();" />
          <button class="btn btn-primary" onClick="addEmployee({{ companyID }});return false;">Добавить работника +</button>
          <div style="margin-top:3px;">
          {{ employees.edit("","","","employeeName","","company="~companyID~" and ismigrant=1") }}
          </div>
      	</div>
    </div>

</div>

<div style="text-align:center;">{{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}
</div>