.datagrid table{
margin-top:20px;
}
.datagrid th{text-align:center;}
.datagrid td{text-align:left;}
  
.datagrid input, .datagrid select {
  margin:5px;
  }

.searchBox div{
display:inline-block;
}

.ctSearchBox.btn{
margin-top:-5px;margin-bottom:0;
margin-left:20px;
}