<legend>{% if record.id == "" %}Добавить паспорт{% else %}Редактировать паспорт{% endif %}</legend>

{% set personId = "" %}
  
{% if record.id == "" %}
{% set personId = url.getint("person") %}
{% set personName = tables.getrecord("PeopleFullName",personId) %}
{% else %}
{% set personId = person.value %}
{% set personName = person %}
{% endif %}
 
	
{% if personName == "" %}
{{ html.message("Человек не указан или не найден.","Error") }}Человек не указан или не найден.

{% set PeopleBirthDate = '' %}
{% set personGender = '' %}
{% else %}
<input type="hidden" name="comes_person" value="{{ personId }}" style="visibility:hidden;" />

{% set PeopleBirthDate = tables.getrecord("PeopleBirthDate",personId) %}
{% set personGender = tables.getrecord("PeopleGenderValue",personId) %}

{% endif %}
{tab:Персональная информация}

<div class="form-horizontal">

	<div class="control-group">
		<div class="control-label">{{ person.title }}: {% if personName == "" %}{{ person.edit }}{% else %}<b>{{ personName }}</b>{% endif %}</div>
	</div>
  
{% if birthdate.value == '' %}
<input type="hidden" name="comes_birthdate" value="{{ PeopleBirthDate }}" style="visibility:hidden;" />
{% else %}
<div class="control-group">{{ birthdate.title }}: <b>{{ PeopleBirthDate }}</b></div>
{% endif %}

{% if gender.value == '' %}
<input type="hidden" name="comes_gender" value="{{ personGender }}" style="visibility:hidden;" />
{% else %}
<div class="control-group">{{ gender.title }}: <b>{{ gender }}</b></div>
{% endif %}
  
<div class="control-group">
		<div class="control-label">{{ birthcountry.title }}</div><div class="controls">{{ birthcountry.edit("","",[],"","","improved") }}</div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ birthplace.title }}</div><div class="controls">{{ birthplace.edit }}</div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ birthplacerus.title }}</div><div class="controls">{{ birthplacerus.edit }}</div>
	</div>
  
</div>

{tab:Сведения о паспорте}  
<div class="form-horizontal">

	<div class="control-group">
		<div class="control-label">{{ type.title }}</div><div class="controls">{{ type.edit }}</div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ primstatus.title }}</div><div class="controls">{{ primstatus.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ validitystatus.title }}</div><div class="controls">{{ validitystatus.edit }}</div>
	</div>
    
<div class="control-group">
		<div class="control-label">{{ ethnicity.title }}</div><div class="controls">{{ ethnicity.edit }}</div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ namelinelat.title }}</div><div class="controls">{{ namelinelat.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ passtype.title }}</div><div class="controls">{{ passtype.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ passportseries.title }}</div><div class="controls">{{ passportseries.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ number.title }}</div><div class="controls">{{ number.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ issuedate.title }}</div><div class="controls">{{ issuedate.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ expirationdate.title }}</div><div class="controls">{{ expirationdate.edit }}</div>
	</div>
</div>

{tab:Место выдачи и прописка}
<div class="form-horizontal">

	<div class="control-group">
		<div class="control-label">{{ issuecountry.title }}</div><div class="controls">{{ issuecountry.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ issueplace.title }}</div><div class="controls">{{ issueplace.edit }}</div>
	</div>

<div class="control-group">
		<div class="control-label">{{ issueauthority.title }}</div>
<div class="controls">
{% if issuecountry.value == '' %}
<span style="color:red;">{% if document.languagepostfix=='_ru' %}Пожалуйста выберите страну{% else %}Please select the country{% endif %}</span>

{% else %}
  {{ issueauthority.edit('','',[['passissueauthorities','layout:passportIssueAuthoritySelect','','country='~issuecountry.value,'namerussubj']]) }}
{% endif %}
</div>
	</div>
	<div class="control-group">
		<div class="control-label">{{ subdivisioncode.title }}</div><div class="controls">{{ subdivisioncode.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ id.title }}</div><div class="controls">{{ id.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ residenceaddress.title }}</div><div class="controls">{{ residenceaddress.edit }}</div>
	</div>
</div>

{tab:Дополнительные сведения}  
<div class="form-horizontal">
  
	<div class="control-group">
		<div class="control-label">{{ eyescolor.title }}</div><div class="controls">{{ eyescolor.edit }}</div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ children.title }}</div><div class="controls">{{ children.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ spouse.title }}</div><div class="controls">{{ spouse.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ militaryduty.title }}</div><div class="controls">{{ militaryduty.edit }}</div>
	</div>
</div>

{tab:Фото человека и копия паспорта} 
<div class="form-horizontal">
  
	<div class="control-group">
		<div class="control-label">{{ personphoto.title }}</div><div class="controls">{{ personphoto.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ passportphotocopy.title }}</div><div class="controls">{{ passportphotocopy.edit }}</div>
	</div>
  
<hr/>

<div class="control-group">
		<div class="control-label">{{ externaldocuments.title }}</div><div class="controls">{{ externaldocuments.edit }}</div>
	</div>
  
</div>


{/tabs}
<br>
<div style="text-align:center;">{{ html.button("save","","","btn btn-primary offset-md-") }} {{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>