<legend>{{ table.title }}</legend>

{tab:Персональная информация}

<div class="form-horizontal">

<div class="control-group">
		<div class="control-label">{{ isemployee.label }}</div><div class="controls">{{ isemployee.edit }}</div>
	</div>

<hr/>
  
<div class="control-group">
		<div class="control-label">{{ lastnamelat.label }}</div><div class="controls">{{ lastnamelat.edit }}</div>
	</div>

<div class="control-group">
		<div class="control-label">{{ middlenamelat.label }}</div><div class="controls">{{ middlenamelat.edit }}</div>
	</div>
  
	<div class="control-group">
		<div class="control-label">{{ firstnamelat.label }}</div><div class="controls">{{ firstnamelat.edit }}</div>
	</div>

<hr/>

<div class="control-group">
		<div class="control-label">{{ lastnamerussubj.label }}</div><div class="controls">{{ lastnamerussubj.edit }}</div>
	</div>

<div class="control-group">
		<div class="control-label">{{ middlenamerussubj.label }}</div><div class="controls">{{ middlenamerussubj.edit }}</div>
	</div>
  
	<div class="control-group">
		<div class="control-label">{{ firstnamerussubj.label }}</div><div class="controls">{{ firstnamerussubj.edit }}</div>
	</div>
	 
<hr/>
	
	<div class="control-group">
		<div class="control-label">{{ lastnamenative.label }}</div><div class="controls">{{ lastnamenative.edit }}</div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ middlenamenative.label }}</div><div class="controls">{{ middlenamenative.edit }}</div>
	</div>
  
	<div class="control-group">
		<div class="control-label">{{ firstnamenative.label }}</div><div class="controls">{{ firstnamenative.edit }}</div>
	</div>
  
<hr/>
  
	<div class="control-group">
		<div class="control-label">{{ dateofbirth.label }}</div><div class="controls">{{ dateofbirth.edit }}</div>
	</div>
  
	<div class="control-group">
		<div class="control-label">{{ gender.label }}</div><div class="controls">{{ gender.edit }}</div>
	</div>  
  
</div>

{tab:Сведения о гражданстве и национальности}

<br>

<div class="form-horizontal">
  
	<div class="control-group">
		<div class="control-label">{{ citizenshiptype.title }}</div><div class="controls">{{ citizenshiptype.edit }}</div>
	</div>  
  
	<div class="control-group">
		<div class="control-label">{{ ethnicity.title }}</div><div class="controls">{{ ethnicity.edit }}</div>
	</div>

</div>

{/tabs}

<br>

<div style="text-align:center;">{{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>