{{ html.goback }}
<legend>Информация о человеке</legend>
<h4>{{ id.title }}: {{ id }}</h4>
	
{tab:Персональная информация}

<div class="personalInfoBox">
{{ tables.getrecord("PassportPhoto",'person='~record.id~' and _published=1','expirationdate desc') }}
</div>  
  
<div class="personalInfoBox">
<div class="form-horizontal">

  <div class="control-group detailsLine">
		<div class="detailsLabel">{% if document.languagepostfix=="_ru" %}Имя на латинице{% else %}Name in English{% endif %}</div>:<div class="detailsValue">{{ firstnamelat }} {{ middlenamelat }} {{ lastnamelat }}</div>
	</div>
	
  <div class="control-group detailsLine">
		<div class="detailsLabel">{% if document.languagepostfix=="_ru" %}Имя на латинице{% else %}Name in English{% endif %}</div>:<div class="detailsValue">{{ firstnamelat }} {{ middlenamelat }} {{ lastnamelat }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{% if document.languagepostfix=="_ru" %}Имя на русском{% else %}Name in subjective case{% endif %}</div>:<div class="detailsValue">{{ firstnamerussubj }} {{ middlenamerussubj }} {{ lastnamerussubj }}</div>
	</div>


	<div class="control-group detailsLine">
		<div class="detailsLabel">{% if document.languagepostfix=="_ru" %}Имя на родном языке{% else %}Name in native language{% endif %}</div>:<div class="detailsValue">{{ firstnamenative }} {{ middlenamenative }} {{ lastnamenative }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ dateofbirth.title }}</div>:<div class="detailsValue">{{ dateofbirth("d-m-Y") }}</div>
	</div>
  
<div class="control-group detailsLine">
		<div class="detailsLabel">{{ gender.title }}</div>:<div class="detailsValue">{{ gender }}</div>
	</div>
</div>

</div>
{tab:Сведения о гражданстве и паспортах}
<div class="form-horizontal">  
  
<div class="control-group detailsLine">
		<div class="detailsLabel">{{ citizenshiptype.title }}</div>:<div class="detailsValue">{{ citizenshiptype }}</div>
	</div>  

<div class="control-group detailsLine">
		<div class="detailsLabel">{{ ethnicity.title }}</div>:<div class="detailsValue">{{ ethnicity }}</div>
	</div>
</div>

{{ tables.getrecords("PassportsCatalogSimple",'person='~record.id) }}

{tab:Визы}

{{ tables.getrecords("VisasCatalogSimple",'person='~record.id) }}

{tab:Должности}
{{ tables.getrecords("CompanyEmployeeList",'person='~record.id) }}

{tab:Документы}
<a href="/documents-misc?view=edititem&person={{ record.id }}&returnto={{ url.base64 }}" id="ctToolBarAddNewDocument" class="toolbarIcons"><img src="/components/com_customtables/libraries/customtables/media/images/icons/new.png" alt="Добавить документ" title="Добавить документ"> Добавить документ</a>

<a href="/documents-misc?person={{ record.id }}&returnto={{ url.base64 }}" id="ctToolBarAddNewDocument" class="toolbarIcons"><img src="/components/com_customtables/libraries/customtables/media/images/icons/edit.png" alt="Изменить / Удалить" title="Изменить / Удалить"> Изменить / Удалить</a>


{{ tables.getrecords("DocumentsMisc","","person=" ~ record.id) }}
{/tabs}