<h4>{{ table.title }}</h4>

<div class="control-group">
		<div class="control-label">{{ namelat.label }}</div><div class="controls">{{ namelat.edit }}</div>
	</div>

<div class="form-horizontal">	<div class="control-group">
		<div class="control-label">{{ namerussubj.label }}</div><div class="controls">{{ namerussubj.edit }}</div>
	</div>
	
	<div class="control-group">
		<div class="control-label">{{ country.label }}</div><div class="controls">{{ country.edit }}</div>
	</div>

</div>

<div style="text-align:center;">{{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>