{tab:Детали}

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ project.title }}</div>:<div class="detailsValue">{{ project }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ name.title }}</div>:<div class="detailsValue">{{ name }}</div>
	</div>

	<div class="control-group detailsLine">
		<div class="detailsLabel">{{ location.title }}</div>:<div class="detailsValue">{{ location }}</div>
	</div>

<hr/>
<div class="control-group detailsLine">
		<div class="detailsLabel">ID</div>:<div class="detailsValue">{{ record.id }}</div>
	</div>
  
{tab:Партии Работников}
{{ tables.getrecords("MigProjectBatchesSimple","projsite="~record.id ) }}
{/tabs}