<legend>{{ table.title}}</legend>

<div style="float:right;">{{ html.recordcount }}</div>
<div style="float:left;">{{ html.add }}</div>

<div class="datagrid">
  
<div class="searchBox">
  <div>{{ html.search("company") }}</div>
  <div>{{ html.search("name") }}</div>
<div>{{ html.searchbutton() }}</div>
</div>
  
<table>
<thead><tr><th>{{ html.batch("checkbox") }}</th>
<th>{{ name.title }}</th>
<th>{{ status.title }}</th>
<th>{{ startdate.title }}</th>
<th>{{ enddate.title }}</th>
<th>{{ location.title }}</th>
<th>{{ contactperson.title }}</th>
<th>Проектные Зоны</th>
<th>{% if document.languagepostfix=="_ru" %}Партии работников{% else %}Project batches{% endif %}</th>
  <th>{% if document.languagepostfix=="_ru" %}Спорные кейсы проекта{% else %}Project cases{% endif %}</th>
<th>{% if document.languagepostfix=="_ru" %}Действие{% else %}Action{% endif %}</th>
</tr></thead>

<tbody>
{% block record %}
<tr>
<td>{{ html.toolbar("checkbox") }}</td>
<td><a href='{{ record.link(true) }}'>{{ name }}</a></td>
<td>{% if status.value == 1 %}Активен{% else %}Не активен{% endif %}</td>
<td>{{ startdate("Y-m-d") }}</td>
<td>{{ enddate("Y-m-d") }}</td>
<td>{{ location }}</td>
 
<td>{{ contactperson.layout("employeeName") }}</td>
  
{% set projectSitesCount = record.joincount("migprojectsites") %}
<td style="text-align:center;">
  {% if projectSitesCount > 0 %}
  <a href="/7-proektnye-zony?where={{ ("project=" ~ record.id) | base64encode }}">
  <button class="btn btn-primary">{{ projectSitesCount }}</button>
  </a> 
  {% else %}
  <a href="/7-proektnye-zony?view=edititem&returnto={{ url.base64 }}&project={{ record.id }}">
  <button class="btn btn-primary" style="background-color:lightgray;">+</button>
  </a>
  {% endif %}
</td>

{% set projectBatchesCount = record.count("migprojectbatches","project="~record.id) %}
<td style="text-align:center;">
  {% if projectSitesCount > 0 %}
  
  {% if projectBatchesCount > 0 %}
    <a href="/8-partii-rabotnikov?where={{ ("project=" ~ record.id) | base64encode }}">
    <button class="btn btn-primary">{{ projectBatchesCount }}</button></a>
  {% else %}
  <a href="/8-partii-rabotnikov?view=edititem&returnto={{ url.base64 }}&project={{ record.id }}">
  <button class="btn btn-primary" style="background-color:lightgray;">+</button>
  </a>
  {% endif %}
  

  {% endif %}
</td>
  
<td style="text-align:center;">
  {% if projectSitesCount > 0 %}
  <a href="/index.php/5-2-spornye-kejsy-proekta?where={{ ("project=" ~ record.id) | base64encode }}">
    <button class="btn btn-primary">{{ cases }}</button></a>
  {% endif %}
</td>

<td>{{ html.toolbar("edit","delete") }}</td>
</tr>
{% endblock %}
</tbody>
</table>

</div>
<br/><div style='text-align:center;'>{{ html.pagination }}</div>