<legend>{{ table.title }}</legend>

{% set projectId = "" %}
{% set whereList = url.getstringanddecode("where")|split(" and ") %}
{% for where in whereList %}
{% set w = where|split("=") %}
{% if w[0] == "project" %}
{% set projectId = w[1] %}
{% endif %}
{% endfor %}

<div style="float:right;">{{ html.recordcount }}</div>
{% if projectId != "" %}
<div style="float:left;"><a href="/7-proektnye-zony?view=edititem&returnto={{ url.base64 }}&project={{ projectId }}" id="ctToolBarAddNew64" class="toolbarIcons"><img src="/components/com_customtables/libraries/customtables/media/images/icons/new.png" alt="Добавить" title="Добавить"></a></div>
{% endif %}


<div class="datagrid">

<div class="searchBox">
  <div>{{ html.search("project") }}</div>
  <div>{{ html.search("name") }}</div>
  <div>{{ html.searchbutton() }}</div>
</div>

<table>
<thead><tr><th>{{ html.batch("checkbox") }}</th>
<th>{{ project.title }}</th>
<th>{{ name.title }}</th>
<th>{{ location.title }}</th>
<th>{% if document.languagepostfix=="_ru" %}Действие{% else %}Action{% endif %}</th>
</tr></thead>

<tbody>
{% block record %}
<tr>
<td>{{ html.toolbar("checkbox") }}</td>
<td><a href='{{ record.link(true) }}'>{{ project }}</a></td>
<td>{{ name }}</td>
<td>{{ location }}</td>
<td>{{ html.toolbar("edit","delete") }}</td>
</tr>
{% endblock %}
</tbody>
</table>

</div>
<br/><div style='text-align:center;'>{{ html.pagination }}</div>