<legend>{% if record.id == "" %}Добавить визу{% else %}Редактировать визу{% endif %}</legend>

{% set personId = "" %}
  
{% if record.id == "" %}
{% set personId = url.getint("person") %}
{% set personName = tables.getrecord("PeopleFullName",personId) %}
{% else %}
{% set personId = person.value %}
{% set personName = person %}
{% endif %}
  
	{% if personName == "" %}
{{ html.message("Человек не указан или не найден.","Error") }}Человек не указан или не найден.
{% else %}
<input type="text" name="comes_person" value="{{ personId }}" style="visibility:hidden;" />
{% endif %}

<div class="form-horizontal">

<div class="control-group">
<div class="control-label">{{ person.title }}: {% if personName == "" %}{{ person.edit }}{% else %}<b>{{ personName }}</b>{% endif %}</div>
			</div>
  
<div class="control-group">
		<div class="control-label">{{ passport.title }}</div><div class="controls">{{ passport.edit("","",["passports","layout:passportSelectLayout",false,"person=" ~ personId]) }}</div>
	</div>

<div class="control-group">
		<div class="control-label">{{ num.title }}</div><div class="controls">{{ num.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ issuedate.title }}</div><div class="controls">{{ issuedate.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ visatermdates.title }}</div><div class="controls">{{ visatermdates.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ visatermdays.title }}</div><div class="controls">{{ visatermdays.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ multiplicity.title }}</div><div class="controls">{{ multiplicity.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ visatype.title }}</div><div class="controls">{{ visatype.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ visitpurpose.title }}</div><div class="controls">{{ visitpurpose.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ invcompanyname.title }}</div><div class="controls">{{ invcompanyname.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ stayplace.title }}</div><div class="controls">{{ stayplace.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ loinum.title }}</div><div class="controls">{{ loinum.edit }}</div>
	</div>

</div>

<div style="text-align:center;">{{ html.button("save","","","btn btn-primary offset-md-") }} {{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>