<legend>Создание письма об ускорении</legend>

<div class="form-horizontal">

	<div class="control-group">
		<div class="control-label">{{ ornum.title }}</div><div class="controls">{{ ornum.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ date.title }}</div><div class="controls">{{ date.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ text.title }}</div><div class="controls">{{ text.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ comment.title }}</div><div class="controls">{{ comment.edit }}</div>
	</div>

	<div class="control-group">
		<div class="control-label">{{ status.title }}</div><div class="controls">{{ status.edit }}</div>
	</div>

{% if projectbatch.value == '' %}
	<div class="control-group">
		<div class="control-label">{{ projectbatch.title }}</div><div class="controls">{{ projectbatch.edit("","",[["migprojects","name"],["migprojectsites","name"],["migprojectbatches","layout:ProjectBatchNumberAndEmployees"]]) }}</div>
	</div>  
{% else %}
  
<div class="control-group">
		<div class="control-label">{{ project.title }}</div><div class="controls"><b>{{ tables.getrecord("projectName",project.value) }}</b></div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ projsite.title }}</div><div class="controls"><b>{{ tables.getrecord("projectsiteName",projsite.value) }}</b></div>
	</div>
  
<div class="control-group">
		<div class="control-label">{{ projectbatch.title }}</div><div class="controls"><b>{{ projectbatch.get("	
fullname") }}</b></div>
	</div>
  
{% set employeesList = projectbatch.getvalue("employees") %}
<div class="control-group">
		<div class="control-label">{{ employees.title }}</div><div class="controls"> {{ employees.edit("","",['companyemployees','person','false','_id=' ~ employeesList],"CompanyEmployeeFullName") }}</div>
	</div>
{% endif %}

  
</div>
<input type="hidden" name="comes_changedby" value="{{ user.id }}" />

{% if projectbatch.value == '' %}
<div style="text-align:center;">{{ html.button("save","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>
{% else %}
<div style="text-align:center;">{{ html.button("saveandclose","","","btn btn-primary offset-md-") }} {{ html.button("cancel","","","btn btn-primary offset-md-") }}</div>
{% endif %}